<section>
<h1>AInvestitBene<span>*</span></h1>
  <article>
<h2>(/ˈeɪˈiːvɛstθɛtbɛɛn/)</h2>
    <p>
<span>*</span>It's a macaroni word, joking in Bari dialectic phrase "(You've) got a good investment".
    </p>
  </article>
  <article>
    <h2>Note about me:</h2>
    <p>
      If this project has caught your interest, you can find the source code, along with documentation and <br>
      conventional Git commit history, <a href="https://github.com/Alten-PRRMRC/AInvestitBene">here</a>.
    </p>
  </article>
</section>
