<section class="navbar fixed left-0 right-0 bottom-0 bg-base-100 rounded-t-xl hidden lg:flex">
  <ul class="menu menu-horizontal w-full justify-start gap-2 p-0">
    <li>
      <a
        class="btn btn-outline btn-primary rounded-md w-[100px]"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="btn-active"
        routerLink="/"
      >
        Home
      </a>
    </li>
    <li>
      <a
        class="btn btn-outline btn-primary rounded-md w-[100px]"
        routerLinkActive="btn-active"
        routerLink="/add"
      >
        Add
      </a>
    </li>
    <li>
      <a
        class="btn btn-outline btn-primary rounded-md w-[100px]"
        routerLinkActive="btn-active"
        routerLink="/stats"
      >
        Stats
      </a>
    </li>
    <li>
      <a
        class="btn btn-outline btn-primary rounded-md w-[100px]"
        routerLinkActive="btn-active"
        routerLink="/about"
      >
        About
      </a>
    </li>
    <li class="btn btn-ghost ml-auto w-[100px]">
      <label class="swap swap-rotate p-0">
        <input type="checkbox" value="business" class="theme-controller" [formControl]="theme"
               (change)="onCheckboxChange($event)"/>
        <app-navbar-icon-sun
          class="swap-off h-10 w-10 fill-current"></app-navbar-icon-sun>
        <app-navbar-icon-moon class="swap-on h-10 w-10 fill-current"></app-navbar-icon-moon>
      </label></li>
  </ul>
</section>
<section class="dock w-full sticky bottom-0 bg-base-100 rounded-t-xl flex lg:hidden">
  <a
    class="btn btn-ghost btn-primary rounded-md flex-1"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="btn-active"
    routerLink="/"
  >
    <app-navbar-icon-home class="size-[1.2em] fill-current"></app-navbar-icon-home>
    <span class="dock-label">Home</span>
  </a>
  <a
    class="btn btn-ghost btn-primary rounded-md flex-1"
    routerLinkActive="btn-active"
    routerLink="/add"
  >
    <app-navbar-icon-add class="size-[1.2em] fill-current"></app-navbar-icon-add>
    <span class="dock-label">Add</span>
  </a>
  <a
    class="btn btn-ghost btn-primary rounded-md flex-1"
    routerLinkActive="btn-active"
    routerLink="/stats"
  >
    <app-navbar-icon-stats class="size-[1.2em] fill-current"></app-navbar-icon-stats>
    <span class="dock-label">Stats</span>
  </a>
  <a
    class="btn btn-ghost btn-primary rounded-md flex-1"
    routerLinkActive="btn-active"
    routerLink="/about"
  >
    <app-navbar-icon-about class="size-[1.2em] fill-current"></app-navbar-icon-about>
    <span class="dock-label">About</span>
  </a>
  <label class="btn btn-ghost swap swap-rotate flex-1">
    <input type="checkbox" value="business" class="theme-controller" [formControl]="theme"
           (change)="onCheckboxChange($event)">
    <app-navbar-icon-sun
      class="swap-off size-[2em] fill-current"></app-navbar-icon-sun>
    <app-navbar-icon-moon class="swap-on size-[2em] fill-current"></app-navbar-icon-moon>
  </label>
</section>
