<section class="max-w-5xl mx-auto p-5">
  <h2 class="text-2xl font-bold text-center text-base-content mb-5">Your list</h2>

  <section class="flex justify-end mb-5 space-x-2">
    <a [routerLink]="['/add']" [queryParams]="{ isIncome: true }" class="btn btn-secondary">Add new income</a>
    <a [routerLink]="['/add']" [queryParams]="{ isIncome: false }" class="btn btn-primary">Add new expense</a>
  </section>

  @let arrExpense = expenses$ | async;
  @let arrExpenseKey = expensesKey$ | async;
  @let expense = this.expenseService.expenseList$ | async;

  @if(arrExpense !== null && Object.keys(arrExpense).length > 0){
    @if (expense !== null && expense.length > 1){
      <list-search (searchChange)="onSearchUpdate($event)" [caseSensitive]="false"></list-search>
    }
    <list-switch (checkboxChange)="onCheckboxChange($event)"></list-switch>

    @for(key of arrExpenseKey; track key){
      <section class="overflow-x-auto">
      <fieldset class="rounded-box border p-4">
        <legend class="text-2xl font-bold text-base-content mb-2">{{ key | titlecase }}</legend>
        <div class="bg-base-100 table shadow w-full overflow-x-auto rounded-box border border-base-content/20">
          <table class="table">
            <thead>
            <tr>
              @for(title of titleTable; track $index){
                <th class="text-base-content">{{ title }}</th>
              }
            </tr>
            </thead>
            <tbody>
              @for(expense of arrExpense[key]; track expense.id){
                <tr>
                  <td class="text-base-content">{{ expense.description }}</td>
                  <td AppHighlightBig [limitImport]="500" class="text-base-content" [amountImport]="expense.import"></td>
                  <td [innerHTML]="expense.category | titlecase | category" class="text-base-content"></td>
                  <td class="text-base-content">{{ expense.date | date }}</td>
                  <td>
                    <button class="btn btn-error btn-sm text-error-content w-[60px]" (click)="deleteExpense(expense.id)">Delete</button>
                  </td>
                  <td>
                    <a [routerLink]="['/add']" [queryParams]="{ id: expense.id }" class="btn btn-info btn-sm text-info-content w-[60px]">Edit</a>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </fieldset>
      </section>
    }
  } @else {
    <section class="bg-info text-center p-8 rounded-lg opacity-80">
      <p class="text-info-content">No expenses found. Click the button above to add your first expense.</p>
    </section>
  }
</section>
